@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100&display=swap");

@import url("CSS/components/container.css");
@import url("CSS/components/flag.css");
@import url("CSS/components/button.css");
@import url("CSS/components/banner.css");
@import url("CSS/components/card.css");

body {
	font-family: 'Lora', sans-serif;
	font-size:  18px;
	margin: 0px;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-size:  bold;
}
a {
	text-decoration: none;
}
